.title {
  margin-top: 30px;
  text-align: center;
}

.unavailable {
  text-align: center;
  margin-top: 30px;
}

.title2 {
  font-weight: bold;
  padding-left: 20%;
  padding-bottom: 30px;
  padding-top: 30px;
}


